.header{
  background:#7fffd4;
  height:120px;
  width:auto;
}
.title{
  margin-left:450px;
}
.message0{
 margin-left: 180px
}
.message0 li{
  list-style:none;
  float:left;
  padding:1px 30px;
  font-size: 25px

}
.message_holder{
  height:100px;
  background-color: #ffa500;
  padding: 15px 10px;
}
.message1{
  margin-top: 20px;
  margin-left:40px;
  font-size: 23px;
}
.quiz{
  background:#00ffff;
  height:340px;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom:80px;
}
.quiz li{
  padding-top: 10px;
}
.answer{
  margin-left: 540px;
  font-size: 23px;
  height:50px
}
